.main-container{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.img-selector-container{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 400px;
  min-height: 350px;
  height: fit-content; 
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}
.image-selector{
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  display: block;
  margin: 0 auto;
  /* margin-top: 250px; */
}

.image-selector::-webkit-file-upload-button {
  visibility: hidden;
}

.image-selector::before {
  width: 280px;
  height: 40px;
  display: flex;
  text-align: center;
  content: 'Upload Image';
  display: inline-block;
  background: var(--beforeViolet);
  border: 0.5px solid gray;
  border-radius: 5px;
  padding: 5px 8px;
  padding-top: 28px;
  outline: none;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 700;
  font-size: 12pt;
  color: white;
}
.image-load-container{
  font-size: 150px;
  width: 200px;
  height: 250px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-image{
  width: 200px;
  height: auto;
}
.image-selector:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.result-container{
  margin-top: 20px;
  width: 400px;
  min-height: 20px;
  height: fit-content;
  padding: 20px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}


.loading-container{
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}