.form-input{
  width: 300px;
  height: 18px;
  border-radius: 10px;
  padding: 8px;
  font-size: 17px;
  border: 0.5px gray solid;
}

.form-input:focus{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
}

.form-button{
  cursor: pointer;
  width: 200px;
  height: 35px;
  margin-top: 25px;
  border-radius: 10px;
  border: 0.5px gray solid;
  background-color: var(--beforeViolet);
  color: white;
}

.form-button:hover{
  background-color: var(--violet);
}
