.form-input{
  width: 300px;
  height: 18px;
  border-radius: 10px;
  padding: 8px;
  font-size: 17px;
  border: 0.5px gray solid;
}

.form-input:focus{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(111, 0, 255, 0.3) 0px 8px 3px -8px;
  outline: none;
}

.form-button{
  cursor: pointer;
  width: 200px;
  height: 35px;
  margin-top: 25px;
  border-radius: 10px;
  border: 0.5px gray solid;
  background-color: var(--beforeViolet);
  color: white;
}

.form-button:hover{
  background-color: var(--violet);
}
